---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/books/v3/lists.json?api-key=BxGxnKikZ0NHirPPiGJ1rfCUydrlVM8r&list=combined-print-and-e-book-fiction
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","copyright":"Copyright (c) 2021 The New York Times Company.  All
        Rights Reserved.","num_results":15,"last_modified":"2021-06-16T22:07:39-04:00","results":[{"list_name":"Combined
        Print and E-Book Fiction","display_name":"Combined Print & E-Book Fiction","bestsellers_date":"2021-06-12","published_date":"2021-06-27","rank":1,"rank_last_week":0,"weeks_on_list":1,"asterisk":0,"dagger":0,"amazon_product_url":"https:\/\/www.amazon.com\/dp\/0316540714?tag=NYTBSREV-20","isbns":[{"isbn10":"0316540714","isbn13":"9780316540711"},{"isbn10":"0316540730","isbn13":"9780316540735"}],"book_details":[{"title":"THE
        PRESIDENT''S DAUGHTER","description":"Matthew Keating, a past president and
        former Navy SEAL, goes on his own to find his abducted teenage daughter.","contributor":"by
        Bill Clinton and James Patterson","author":"Bill Clinton and James Patterson","contributor_note":"","price":"0.00","age_group":"","publisher":"Little,
        Brown","primary_isbn13":"9780316540711","primary_isbn10":"0316540714"}],"reviews":[{"book_review_link":"","first_chapter_link":"","sunday_review_link":"","article_chapter_link":""}]},{"list_name":"Combined
        Print and E-Book Fiction","display_name":"Combined Print & E-Book Fiction","bestsellers_date":"2021-06-12","published_date":"2021-06-27","rank":2,"rank_last_week":2,"weeks_on_list":2,"asterisk":0,"dagger":0,"amazon_product_url":"https:\/\/www.amazon.com\/dp\/0316420085?tag=NYTBSREV-20","isbns":[{"isbn10":"0316420085","isbn13":"9780316420082"}],"book_details":[{"title":"GOLDEN
        GIRL","description":"A Nantucket novelist gets one final summer to watch what
        happens from the great beyond.","contributor":"by Elin Hilderbrand","author":"Elin
        Hilderbrand","contributor_note":"","price":"0.00","age_group":"","publisher":"Little,
        Brown","primary_isbn13":"9780316420082","primary_isbn10":"0316420085"}],"reviews":[{"book_review_link":"","first_chapter_link":"","sunday_review_link":"","article_chapter_link":""}]},{"list_name":"Combined
        Print and E-Book Fiction","display_name":"Combined Print & E-Book Fiction","bestsellers_date":"2021-06-12","published_date":"2021-06-27","rank":3,"rank_last_week":0,"weeks_on_list":1,"asterisk":0,"dagger":0,"amazon_product_url":"https:\/\/www.amazon.com\/dp\/0593188136?tag=NYTBSREV-20","isbns":[{"isbn10":"0593188136","isbn13":"9780593188132"},{"isbn10":"0593188152","isbn13":"9780593188156"}],"book_details":[{"title":"TOM
        CLANCY: TARGET ACQUIRED","description":"A cushy assignment to help the C.I.A.
        puts Jack Ryan Jr. in the sights of trained killers.","contributor":"by Don
        Bentley","author":"Don Bentley","contributor_note":"","price":"0.00","age_group":"","publisher":"Putnam","primary_isbn13":"9780593188156","primary_isbn10":"0593188152"}],"reviews":[{"book_review_link":"","first_chapter_link":"","sunday_review_link":"","article_chapter_link":""}]},{"list_name":"Combined
        Print and E-Book Fiction"[...]
