---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/books/v3/lists.json?api-key=BxGxnKikZ0NHirPPiGJ1rfCUydrlVM8r&list=combined-print-and-e-book-fiction
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","copyright":"Copyright (c) 2021 The New York Times Company.  All
        Rights Reserved.","num_results":15,"last_modified":"2021-07-07T22:21:32-04:00","results":[{"list_name":"Combined
        Print and E-Book Fiction","display_name":"Combined Print & E-Book Fiction","bestsellers_date":"2021-07-03","published_date":"2021-07-18","rank":1,"rank_last_week":0,"weeks_on_list":1,"asterisk":0,"dagger":0,"amazon_product_url":"https:\/\/www.amazon.com\/dp\/0063112523?tag=NYTBSREV-20","isbns":[{"isbn10":"0063112523","isbn13":"9780063112520"}],"book_details":[{"title":"ONCE
        UPON A TIME IN HOLLYWOOD","description":"A novelization of the film set in
        1969, by its director and screenwriter.","contributor":"by Quentin Tarantino","author":"Quentin
        Tarantino","contributor_note":"","price":"0.00","age_group":"","publisher":"Harper
        Perennial","primary_isbn13":"9780063112520","primary_isbn10":"0063112523"}],"reviews":[{"book_review_link":"https:\/\/www.nytimes.com\/2021\/06\/28\/books\/quentin-tarantino-once-upon-time-hollywood-novel.html","first_chapter_link":"","sunday_review_link":"","article_chapter_link":""}]},{"list_name":"Combined
        Print and E-Book Fiction","display_name":"Combined Print & E-Book Fiction","bestsellers_date":"2021-07-03","published_date":"2021-07-18","rank":2,"rank_last_week":1,"weeks_on_list":9,"asterisk":0,"dagger":0,"amazon_product_url":"https:\/\/www.amazon.com\/dp\/1501171348?tag=NYTBSREV-20","isbns":[{"isbn10":"1501171348","isbn13":"9781501171345"},{"isbn10":"1501171364","isbn13":"9781501171369"},{"isbn10":"1797124749","isbn13":"9781797124742"}],"book_details":[{"t[...]
